@model IEnumerable<SuperZapatos_Client.Models.ArticleModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>@Html.ActionLink("Crear Artículo", "Create", "Articles")</p>
<table class="table">
    <tr>
        <th>
            Artículo
        </th>
        <th>
            Descripción
        </th>
        <th>
            Precio
        </th>
        <th>
            Unidades en exposición
        </th>
        <th>
            Unidades en almacén
        </th>
        <th>
            Tienda
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_in_shelf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_in_vault)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Name)
        </td>
        <td>
            @Html.ActionLink("Borrar Artículo", "Delete", "Articles", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Editar Artículo", "Edit", "Articles", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Volver", "Index", "Home")
</div>